            </main>
            <p class="footer">powered by Creatortray <%=  new Date().getFullYear() %></p>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="scripts/script.js"></script>
        </body>
    </html>