<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <% if(locals.header){ %>
            <title><%= header %></title>
        <% } else{ %>
            <title>New Blog</title>
        <% } %>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
    